body {
  padding-top: 5rem;
  background-color: #23570d;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1{
  color:#4cbd1c;
}
p{
  color:#4cbd1c;
}
.navbar{
background-color:#5cbf32;
 }
a{
  color:white;
}
span{
  color: white;
}

#search {
  margin-left: 38em;
  width: 220px
}
