body {
  padding-top: 5rem;
  background-color: #572e2e;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1{
  color:green;
}
p{
  color:green;
}
.navbar{
background-color:#5cbf32;
 }
a{
  color:white;
}
